@charset "utf-8";
//基准字体大小
$baseFontSize: 14px;
//最小宽度
$minWidth: 1360px;

//主字体颜色
$fontCB: #444444;
//辅助字体颜色
$fontCL: #888888;
//提示字体颜色
$fontCT: #bbbbbb;

//导航字体颜色
$fontCN: #c3cdf1;

//背景色
$bgColor: #eaedf1;

//边框颜色
$bdColor: #dddee1;

//主体色
$baseColor: #348eed;
//辅助色
$subColor: #57e2c1;

//导航渐变
$bannerC1: #2c4ac8;
$bannerC2: #3d9afa;

$Ef: Arial;